/************************/
/*                      */
/*  Vertical centering  */
/*     ja todo exp      */
/************************/

html, body {
    height: 100%;
    /*margin: 0;*/
}

/*body {*/
/*position: relative;*/
/*-webkit-align-items: center;*/
/*-ms-flex-align: center;*/
/*align-items: center;*/
/*display: -webkit-flex;*/
/*display: flex;*/
/*}*/
/******************/

.page {
    /*position: relative; /!**ja  let contain absolute-positioned elements *!/*/
    max-width: 1120px; /**ja todo fix to real */
  min-height: 100%;
/* equal to footer height */
	margin-bottom: -78px;

    /** debugging **/
    content: '.';
    background-color: red;
}
.page:after {
  content: "";
  display: block;
}


.page-footer, .page:after {
  /* .push must be the same height as footer */
	height: 142px;
}

/** HEADER **/
.page-header {
    position: relative;
    top: 0;
    left: 0;
    height: 116px;
    width: 100%;
}

nav.social {
    position: absolute;
    right: 0;
    top: 36px;
    /*width:100%;*/
    width:213px;

}

.social > ul {
    width: 213px;
}

.social li {
    display: inline-block;
    width: 46px;
    height: 46px;
    cursor: pointer;
}

.page-header .logo{
       position: absolute;
    left: 50px;
    top: 36px;

}

.middle-wrap {
    /*top: 117;*/
    width: 100%;

    position: relative; /**ja  let contain absolute-positioned elements */
    /*position: absolute;*/
    margin: 0 auto;

    /*padding-left: 250px;*/
}

/** SIDEBAR **/

.sidebar {
    top: 0;
    left: 0;
    position: absolute;
    /*background-color: #006600;*/
    width: 250px;
    /*float: left;*/
    /*clear: right;*/
}

.side-nav {
    margin: 5px; /**ja todo fix to real */
}

.sidebar-contacts {

}


/**  MAIN CONTENT  **/

.main {
    position: absolute;
    top: 0;
    left: 251px;
    width: 960px;
    /*margin: 39px auto 39px;*/
    /*float: right;*/

}


/**  FOOTER  **/
.page-footer {

    /*position: absolute;    ja todo why-where?*/
    /*top-margin:100%;*/
    /*position: absolute;*/
    left: 0;
    bottom: 0px;
    height: 78px;
    width: 100%;

    /** debugging **/
    background-color: #006600;
}

.admin_door {
    position: relative;
    top: 26px;
    left: 20px;
    width: 22px;
    height: 32px;

}

.login_link {

}


.disclaimer{

}


/** UTILITIES **/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
    /* Хак для IE 6 и 7 */
}