//
   Created by oleg on 12/10/15.

extends base

block PageContent
   include includes/_page-header
   include includes/_nav-block
   include includes/_contacts-block
   main.main
      block MainContent

   include includes/_footer
