//
   Created by oleg on 12/10/15.
footer.page-footer
   div.admin_door
      a(id="login_link", href="login.php", title="Админка", alt="Войти")
   div.copyright &copy; 2015 Это мой сайт, пожалуйста, не копируйте его