//
   Created by oleg on 12/10/15.
head
   meta( charset="UTF-8")
   meta( http-eqiv="X-UA-Compatible" content="IE=edge")
   meta(name="author" content="Oleg Leontiev")
   //- браузер сможет более корректно расставлять перенос
   link(rel="styleSheet", media="all",type="text/css",href="css/main.css")
   script(src="bower_components/modernizer/modernizr.js")
   title
      block PageTitle
   include __favicons.html
   include _vendor-styles
   include _custom-styles
